.profilePage {
  min-height: 83.5vh;
}

.profilePage .tabBar {
  padding: 5px 0;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .profilePage {
    min-height: 85.8vh;
  }
  .profilePage .tabBar {
    width: 95%;
  }
}
